<html>
  <head>
    <title>Air Conditioner Remote</title>
    <!-- load jQuery -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!--     <style type="text/css">
        .jumbotron h1{
            font-size: 300px;
        }
    </style>
 -->    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container">
        <div>AC Remote: <a href="/index">Home</a></div>
        <div><p><a href="/logout">logout</a></p></div>
        <!-- {% for message in get_flashed_messages() %} -->
        <!-- {{ message }} -->
        <!-- {% endfor %} -->
        {% block content %}{% endblock %}
        <script src="on_off.js"></script>
        </div>
  </body>
</html>