<html>
  <head>
    <title>Air Conditioner Remote</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!--     <style type="text/css">
        .jumbotron h1{
            font-size: 300px;
        }
    </style>
 -->    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container">
        <div>AC Remote: <a href="/index">Home</a></div>
        {% block content %}{% endblock %}
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="on_off.js"></script>
        </div>
  </body>
</html>