{% extends "base.html" %}
{% block content %}
<h1>Hi, Miriam</h1>
<div>
  <p>
    {{time.strftime('Currently, it is %I:%M:%S %p on %A, %m-%d-%Y')}}<br>
    The temperature is {{temp}} degrees F<br>
    Your air conditioner is <span id='on_off_span'>{{ 'on' if running else 'off' }}</span>
  </p>
</div>
<button id="on_off_switch">{{'Turn off' if running else 'Turn on'}}</button><br>

<input id='radio_away' type="radio" name="home_mode" value=0>Away
<input id='radio_home' type="radio" name="home_mode" value=1>Home

<form id="set_temperature" name="input" action="{{ url_for('set_temp') }}" method = "post" style="display: none;">
  Desired Temperature: <input type="text" name="desired_temp" id="desired_temp"><br>
<input type="submit" value="submit">
</form>

{% endblock %}