{% extends "base.html" %}
{% block content %}
<h1>Hi, Miriam</h1>
<div>
  <p>
    {{time.strftime('Currently, it is %I:%M %p on %A, %m-%d-%Y')}}<br>
    The temperature is {{temp}} degrees F<br>
    Your air conditioner is {{ 'on' if running else 'off' }}
  </p>
</div>
<form name="input" action="{{ url_for('switch_state') }}" method="post">
<input type="hidden" name="switch" value="{{ 0 if running else 1 }}">
<input type="submit" value="Turn on">
<input type="submit" value="Turn off">
</form>

{% endblock %}