{% extends "base.html" %}
{% block content %}
<div class="jumbotron"><h1>AC Remote <small>Control your AC from anywhere</small></h1></div>
<div>
  <p class="lead">
    <div id="clock">{{time.strftime('Currently, it is %I:%M:%S %p on %A, %m-%d-%Y')}}</div><br>
    The temperature is <mark><span id = "room_temp_span">{{room_temp}}</span></mark> degrees F<br>
    Your air conditioner is <mark><span id='on_off_span'>{{ 'on' if is_running else 'off' }}</span></mark>
  </p>
</div>
  <label class="radio-inline">
    <input id='radio_on' type="radio" name="power_state" value=1> Turn on
  </label>
  <label class="radio-inline">
    <input id='radio_off' type="radio" name="power_state" value=0> Turn off
  </label>
  <br>
  <label class="radio-inline">
    <input id='radio_away' type="radio" name="mode" value=0> Away
  </label>
  <label class="radio-inline">
    <input id='radio_home' type="radio" name="mode" value=1> Home
  </label>
  <br>

  <div id="desiredtemp">
    <span id="temptext">Desired Temperature:</span><input id='temperature' type="text" name="desired_temp">
  </div>

<button type="button" class="btn btn-primary" id="submit">Submit</button>

{% endblock %}