<html>
  <head>
    <title>Remote AC - login page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class='container'>
      <h1>Please login</h1>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value"{{  request.form.username }}">
        <input type="text" placeholder="Password" name="password" value"{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>